@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Work Sans;
}

/* Common shared files */

.btn{
    border: 2px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    height: 52px;
    width: 116px;
    margin: 31px 110px 31px 0px ;
}

.mmain{
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 80px;
}

.vision_section{
    height: 325px;
    width: 410.67px;
    border: none;
    border-radius: 16px;
}

.vision_section span a button{
    border: none;
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
}

/* Nav bar */
.nav_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_btn{
    font-family: Fira Sans;
}

.nav_title{
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 32px;
    margin: 31px 0 31px 110px ;
}


/* Main style */

.main1{
    display: flex;
    height: 560px;
    width: 1280px;
    margin: 20px auto;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 80px;
}

.main1_bd_title{
    margin: 117px 0 117px 60px ;
    width: 622px;
    
}

.main1_bd_title_1{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    font-family: Fira Sans;
    display: block;
}

.main1_bd_title_2{
    display: block;
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 56px;
    width: 615px;
    margin: 24px 10px 24px 0px ;
}

.main1_bd_title_button{
    color: white;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
}

.main1_bd_img{
    margin: auto  ;
}

/* Pillars of Bangladesh 2.0 */

.pillars_title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: bold;
}

.pillars_part{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.pillars_section{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
    border: none;
    width: 302px;
    height: 244px;
    border-radius: 16px;
}

.pillars_section img{
    height: 62px;
    width: 62px;
    margin: 25px 215px 24px 25px;
}

.pillars_section span{
    margin: 0px 24px 24px 24px;
    display: block;
}

.pillars_title1{
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

.pillars_des{
    font-family: Fira Sans;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    
}

/* Vision of Future */

.vision_title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    display: block;
}

.vision_des1{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.vision_part{
    margin: 32px auto;
    display: flex;
    gap: 24px;
}

.vision_section_1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision_section_2{
    background-color: #C6E4D6;
}

.vision_section_3{
    background-color: #F7EBCF;
}

.vision_section img{
    margin: 32px 314.67px 24px 32px;
}

.vision_section_title{
    font-family: Fira Sans;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 32px 12px 32px;
}

.vision_section_description{
    font-family: Fira Sans;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin: 0px 32px 24px 32px;
}

.vision_section_button1{
    background-color: #5490F5;
    margin: 0px 256.67px 32px 32px;
}

.vision_section_button2{
    background-color: #09A15C;
    margin: 24px 256.67px 32px 32px;

}

.vision_section_button3{
    background-color: #FFC239;
    margin: 0px 256.67px 32px 32px;
}

.vision_des2{
    height: 256px;
    width: 1280px;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: 24px 25px;
    border-radius: 16px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
}

.vision_des2_lorem{
    font-family: Fira Sans;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding: 48px 24px 12px 24px;
}

.vision_des2_title{
    font-family: Fira Sans;
    padding: 0px 24px 4px 24px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);

}

.vision_des2_sub{
    font-family: Fira Sans;
    display: block;
    padding: 0px 24px 48px 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}

/* Opinion style */

.opinion_main_title{
    color: #0E0E0E;
    display: block;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.opinion_main_part{
    /* height: 409px; */
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
    border-radius: 16px;
}

.opinion_table{
    margin: 0px 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-spacing: 0px;
    height: 345px;
    width: 1216px;
}

.opinion_table th, .opinion_table td{
    border: 1px solid black;
    font-family: Fira Sans;
    font-weight: 600;
}

.opinion_table th{
    background-color: #C6E4D6;
    font-size: 20px;
    padding: 24px;
}

.opinion_table_heading{
    display: flex;
    justify-content: space-between;
}

.opinion_table tr td{
    font-size: 16px;
    vertical-align: middle;
    padding: 24px;
}

.options{
    height: 44px;
    width: 152px;
    border-radius: 4px;
    background-color: #C6E4D6;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;   
    text-align: center; 
}

.opinion_td{
    width: 152px;
}

/* Recent News style */

.news_title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    display: block;
    padding-bottom: 24px;
}

.news_desc{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    display: block;
    padding-bottom: 32px;
}

.news_part{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news_sec_1{
    display: flex;
    height: 402px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
}

.news_part_1{
    padding: 48px 32px 48px 48px;
}

.news_part_1 img{
    border-radius: 24px;
}

.news_part_2{
    padding: 56px 48px 56px 0px;
}

.news_part_title{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    display: block;
    margin-bottom: 12px;
}

.news_part_2 img{
    margin-bottom: 12px;
}

.news_part_sub_title{
    font-family: Fira Sans;
    display: flex;
    margin-bottom: 12px;
}

.news_part_date{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-right: 12px;
}

.news_part_time, .news_part_description{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.news_part_description{
    display: block;
    margin-bottom: 32px;
}

.news_part_button{
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    height: 48px;
    width: 139px;
    border: none;
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
}

.news_part_2_extra{
    padding: 56px 0px 56px 48px;
    width: 744px;
}

/* Donate style */

.donate_title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 24px;
}

.donate_description{
    font-family: Fira Sans;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    display: block;
    margin-bottom: 32px;
}

.donate_part{
    display: flex;
    gap: 24px;
    margin: 0 104.5px;
    margin-bottom: 32px;
}

.donate_taka{
    font-family: Fira Sans;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
    width: 240px;
    border-radius: 16px;
    font-size: 35px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    text-align: center;
}

.donate2{
    background-color: #C6E4D6;
}

.donate_input{
    font-family: Fira Sans;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
    width: 1032px;
    height: 64px;
    margin: 0 124px 32px 124px;
    border: none;

}

.h2 input::placeholder {
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
}

.donate_button{
    height: 56px;
    width: 151px;
    color: white;
    background-color: #006A50;
    border: none;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    margin: 0 564.5px;
}

/* Subscribe Style */

.subscribe{
    background-color: #C6E4D6;
    border-radius: 24px;
    height: 395px;
}

.subscribe_title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    display: block;
    padding: 80px 329px 16px 329px;
    text-align: center;
}

.subscribe_des{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    display: block;
    text-align: center;
    padding: 0px 329px 24px 329px;
}

.subscribe_part{
    display: flex;
    padding: 0px 265px 24px 265px;

}

.subscribe_part input{
    width: 600px;
    height: 55px;
    background-color: white;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.subscribe_part input::placeholder {
    font-family: Fira Sans;
    font-size: 16px;
    padding: 18px 403px 18px 40px;
    color: rgba(14, 14, 14, 0.3);
}

.subscribe_part button{
    background-color: #006A50;
    color: white;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    width: 150px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.subscribe_sub{
    font-family: Fira Sans;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding: 0px 329px 0px 329px;
    text-align: center;
    display: block;
}

/* Footer style */

footer{
    height: 226px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
}

.footer_title{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 32px;
}

footer hr{
    opacity: 0.2;
    width: 1122px;
    margin-bottom: 32px;
}

.footer_icon{
    gap: 23px;
    display: flex;
    justify-content: center;
}